.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  min-width: 480px;
  @media screen and (min-width: 768px) {
    max-width: 1200px;
  }

  // padding-left: 15px;
  // padding-right: 15px;
  // margin-left: auto;
  // margin-right: auto;
}
.container .responsive {
  max-width: 1200px;
  
}
