.title {
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
.subtitle {
    letter-spacing: 0.03em;
}

.text {
    color: var(--additional-color);
    letter-spacing: 0.03em;
}