.box-detail{
 padding-top: 60px;
 padding-bottom: 60px;
}
.box-detail-list {
 
  width: 100%;
  @media screen and (min-width: 768px) {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
  }
  @media screen and (min-width: 1200px) {}
  gap: 30;
  > .item {
    @media screen and (min-width: 768px) {
      width: 352px;
    }
        @media screen and (min-width: 1200px) {
        width: 270px;
        }
  }

  & .text {
    font-size: 14px;
    line-height: 1.72;
  }
}

.subtitle-detail::before {
  display: inline-block;
  margin-bottom: 30px;
  content: "";
  width: 100%;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
background-color: #F5F4FA;
    border-radius: 4px;

  @media screen and (min-width: 768px) {
    background-color: #f5f4fa;
    border-radius: 4px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.subtitle-detail.subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  @media screen and (min-width: 768px) {
  }
  text-align: left;
}

.detail1::before {
  background-image: url(../images/antenna.svg);
}

.detail2::before {
  background-image: url(../images/clock.svg);
}

.detail3::before {
  background-image: url(../images/diagram.svg);
}

.detail4::before {
  background-image: url(../images/astronaut.svg);
}
