.title-company {
  margin-bottom: 30px;
@media screen and (min-width: 768px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.company-list {
  // margin: 0 auto;
  width: 100%;
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.company-item {
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    margin-bottom: 0px;
  width: calc(100% - 30px)/2;
    height: 92px;
  }
  @media screen and (min-width: 768px) {
width: calc(100% - 60px)/3;
    // width: 226px;
  }
  @media screen and (min-width: 1200px) {
    // width: 170px;
    width: calc(100% - 150px)/6;
  }
}

.company-link {
  padding: 20px 30px;
  width: 50%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  fill: #afb1b8;
  transition: color var(--timing-function), border var(--timing-function);
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 480px) {
    width: 100%;
    // padding: 0;
  }

  &:hover {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
}

.logo-company {
  fill: currentColor;
}
