.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img_hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (min-width: 768px) {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
  }
    & .hero__title 
    {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      width: 360px;
      color: var(--additional-text-color);
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 0.06em;
        text-align: center;
        text-transform: uppercase;
      @media screen and (min-width: 768px) {
      width: 696px;
      font-size: 44px;
      line-height: 1.37;
      }
    }
  }

.hero__btn {
  outline: #2f303a;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;

  background-color: var(--accent-color);
  color: var(--additional-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: background var(--timing-function), color var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--primary-background-color);
    color: var(--accent-color);
  }
}
